body{
  background-color: #516395d7;
  margin: 0;
  padding: 0;
}
  
header{
  text-align: start;
  background-color:  #516395;
  margin-bottom: 5%;
}
  
#pbanner{
  margin: 0.1%;
  margin-left: 1%;
}
  
#minari{
  margin-left: 0.1%;
}

h1{
  text-align: center;
}
  
.post{
  background-color: hsla(0, 0%, 100%, 0.679);
  padding: 1%;
  width: 25%;
  top: 5%;
  margin-left: 37%;
  border-top: 3px solid #7b8bb9;
  border-left: 5px solid #7b8bb9;
  border-right: 5px solid #7b8bb9;
  border-bottom: 3px solid #7b8bb9;
}

.userpdp{
  width: 100px;
  border-radius: 50%;
  bottom: 0;
}

.postimage{
  max-width: 100%;
  max-height: 100%;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form input[type='submit']{
  margin-top: 50px;
  border: none;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  cursor: pointer;
}

.yes{
  background-color: rgb(19, 181, 19);
}

.no{
  background-color: rgb(238, 28, 28);
}